body {
    font-size: 14px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
div, p, input, button, form, span, a, ul, li {
    margin: 0;
    box-sizing: border-box;
} 

.slider__container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    font-family: 'Roboto', sans-serif;
    margin-top: 60px;
}
.flex__box{
    display: flex;
    justify-content: space-between;
}
.line__light{
    background: hsla(0, 0%, 14%, 1);;
    height: 2px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.yellow__line {
    background: #f7b70b;
    height: 2px;
    margin-top: 4px;
}
.text__block{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: hsla(0, 0%, 14%, 1);
    text-align: center;
}
.cost__box, .price__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.price__box div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 46px;
}
.cost__box div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100px;
}
.price, .cost {
    cursor: pointer;
    margin: 0 auto;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 600px;
    height: 6px;
    background: #f7b70b;
    border-radius: 20px;
    display: block;
    outline: none;
    -webkit-transition: .2s; 
    transition: opacity .2s;
    box-sizing: border-box;
    cursor: pointer;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none; 
    appearance: none;
    width: 20px;
    height: 20px;
    background: hsl(43.73, 94%, 41%);
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.slider::-moz-range-thumb{
    -webkit-appearance: none; 
    appearance: none;
    width: 20px;
    height: 20px;
    background: hsl(43.73, 94%, 41%);
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.prices__block {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.value__box {
    margin: 0 20px;
}

@media screen and (max-width: 640px){
    .slider__container, .slider {
        width: 300px;
    }

    .prices__block {
        flex-direction: column;
        width: 300px;
    }

    .price__box .value__box {
        margin-left: 70px;
    }
}